<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  rel="stylesheet" href="css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" />
    <link  rel="stylesheet" href="css/AdminDashboard.css"  th:href="@{/css/AdminDashboard.css}" />
    
  <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/1c26fb5c51.js" th:src="@{js/1c26fb5c51.js}"></script>

	 <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
  	
  	 <script type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js" href="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
   
    <title>Admin Dashboard</title>
</head>

<body>
	<!--  header.html  -->
	 <div th:include="header :: nav-bar"></div>
	
	<!--  side nav bar  -->
	 <div th:include="sideNavbar :: sidenav-bar"></div>
	
	


</body>
</html>
