<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="agentVerfication">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" th:href="@{/css/dataTables.bootstrap5.min.css}" />
	<link rel="stylesheet" href="css/dashboard.css" th:href="@{/css/dashboard.css}" />
	<link rel="stylesheet" href="css/agentVerfication.css" th:href="@{/css/agentVerfication.css}" />
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
		href="js/1c26fb5c51.js" th:src="@{js/1c26fb5c51.js}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
		href="js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>\
	<script type="text/javascript" href="js/angular.js" th:src="@{js/angular.js}"></script>
	<script src="/js/agentVerfication.js"></script>
	<title>Welcome to Plant Ropan</title>
</head>

<body ng-controller="agentController">
	<!--  header.html  -->
	<div th:include="header :: nav-bar"></div>

	<!--  side nav bar  -->
	<div th:include="sideNavbar :: sidenav-bar"></div>

	<main class="mt-5 pt-3">
		<div class="container-fluid">

			<div class="select-container">
				<div class="row mt-5">
					<div class="col-md-12">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link  active" id="new-students" data-bs-toggle="tab"
									data-bs-target="#new-students-pane" type="button" role="tab"
									aria-controls="new-students-pane" aria-selected="true">
									Pending Verfication</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link " id="recent-loans" data-bs-toggle="tab"
									data-bs-target="#recent-loans-pane" type="button" role="tab"
									aria-controls="recent-loans-pane" aria-selected="false">Verified Agent </button>
							</li>

						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="new-students-pane" role="tabpanel"
								aria-labelledby="new-students" tabindex="0">
								<div class="table-responsive">
									<table class="table table-responsive table-striped">
										<thead class="table-dark">
											<tr>
												<th scope="col">First Name</th>
												<th scope="col">Last Name</th>
												<th scope="col">Email Id.</th>
												<th scope="col">Mobile No.</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="pendingVerifications in pendingVerification">
												<td>
													<a href="agentDetailPage.html?agentIDPk={{pendingVerifications.agentIDPk}}">{{pendingVerifications.firstName}}</a>

													<!--<a href="" ng-click="openAgentDetailPage(pendingVerifications.agentIDPk)">{{pendingVerifications.firstName }}</a>-->
												</td>
												<td>{{ pendingVerifications.lastName }}</td>
												<td>{{ pendingVerifications.emailId }}</td>
												<td>{{ pendingVerifications.mobileNumber }}</td>
												<td>
													<button type="button" class="btn btn-success">
														<i class="fa-light fa-badge-check"></i> Verify
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tab-pane fade" id="recent-loans-pane" role="tabpanel"
								aria-labelledby="recent-loans" tabindex="0">
								<div class="table-responsive">
									<table class="table table-responsive table-striped">
										<thead class="table-dark">
											<tr>
												<th scope="col">First Name</th>
												<th scope="col">Last Name</th>
												<th scope="col">Email Id.</th>
												<th scope="col">Mobile No.</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--Main Container End-->

</body>

</html>