<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link  rel="stylesheet" href="css/login.css"  th:href="@{/css/login.css}" />
    <title>Login page in HTML</title>
</head>
<body>
	<!--<div class="banner">
		<div class="navbar">
			<img src="/images/logo.png" class="logo">
			<ul>
				<li><a href="/userhome">HOME</a></li>
	
				<li><a href="#">About</a></li>
			</ul>
	
		</div>
	</div>-->
    <form action="loginUser" method ="post">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Sign in</h3>
			<span th:text="${error}"></span>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
           
            <input type="text" placeholder="Enter Username" name="username" id="username" required>

            <br><br>

            <!-- Password -->
            
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <!-- sub container for the checkbox and forgot password link -->
            <div class="subcontainer">
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <p class="forgotpsd"> <a href="#">Forgot Password?</a></p>
            </div>


            <!-- Submit button -->
            <button type="submit">Login</button>


        </div>

    </form>
</body>
</html>